{deps, [grisp]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "23.3.4.11"}
    ]},
    {build, [
        {toolchain, [
            {directory,"/home/mvcampos/TFG/grisp2-rtems-toolchain/rtems/5"}
        ]}
    ]},
    {deploy, [
        {destination, "/media/mvcampos/DCA3-CFFE"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {test, "0.1.0"}, [test]}
]}.
