{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "23.3.4.11"}
    ]},
    {build, [
        {toolchain, [
            {directory,"/home/mvcampos/TFG/grisp2-rtems-toolchain/rtems/5"}
        ]}
    ]},
    {deploy, [
        {destination, "/media/mvcampos/DCA3-CFFE"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {rtemsshell, "0.1.0"}, [{epmd, none}, rtemsshell]}
]}.
